version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8u222-stretch-browsers
    working_directory: ~/repo
    steps:
      - checkout

      - run:
          name: run ui_smoke tests
          command: |
            mvn clean test